body {
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    font-size: 200%;
}

.emphasis{
    font-style: italic;
}

.warning {
    color: red;
}

#primary {
    font-weight: bold;
    color:green;
}

/* change headiing colour */
h1, h2 {
    color:floralwhite;
}

/* decendancy selector*/
footer p{
    font-size: 50%;
    text-align: center;
}

body p {
    font-size: 200%;
}

/* attribute selector*/
a[href="http://algonquincollege.com"]{
    text-decoration: none;
}

/* pseudo class */
a:link, a:visited {
    color:red;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
    color:blueviolet;
}