body {
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header, footer {
    background-color: burlywood;
}

.site-title {
    color: white;
}

#my-image {
    box-shadow: 1px 2px black;
}

ul li:nth-child(odd) {
    background: wheat;
}

a[href]{
    text-decoration: none;
    background: cornsilk;
    border: 2px solid black;
    border-radius: 3px;
}
a:hover{
   background-color: lightblue; 
}

a:focus {
    background-color: lightcyan;
}