html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif
}

.wrapper {
    height: 340px;
    width: 1024px;
    background-image: url('../images/lone-starfish-wide.jpg');
    background-position: center;
    background-size: cover;
    margin: auto;
}

header h1 {
    font-size: 3.8rem;
    color: white;
    text-align: center;
    padding-top: 200px;

}