html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif
}

body {
    background-color: #aad4cf;
}

.banner {
    height: 340px;
    width: 1024px;
    background-image: url('../images/lone-starfish-wide.jpg');
    background-position: center;
    margin: 0 auto;
}

.wrapper {
    width: 1024px;
    margin: 0 auto;
    background-color: #d4e9e7;
}

header h1 {
    font-size: 3.8rem;
    color: white;
    text-align: center;
    padding-top: 200px;
}

nav ul li {  
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    padding: 12px;
    display: inline-block;
    margin: 0 auto;
    width: 30%;
    height: 100px;

}