/* defeat box model */
*{
    box-sizing: border-box;
}

header{
    background-color: black;
    color: white;
}

.box{
    background-color: #369;
    width: 200px;
    height: 200px;
    color: #000;
    /* box model properties */
    padding: 10px;
    border: 2px solid darkred;
    margin: 20px;
    /* overflow */
    overflow: scroll;
}

.wrapper{
    width: 400px;
    margin: 0 auto;
}