html {
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: #222;
    padding: 10px;
}

.banner {
    width: auto;
    height: auto;
    background-color: #c78c06;
}

nav ul li a {
    text-decoration: none;
    color: #c78c06;
}

nav ul li:nth-child(1) a {
    color: #222;
}

.search_btn {
    width: 95%;
    height: 40px;
}

.search_bar {
    display: flex;
}

.search_icon {
    background-color: #222;
    width: 39px;
    height: 39px;
    border: 1px solid #c78c06;
}

.glyphicon-search {
    color: #c78c06;
    font-size: 2rem;
}

.introduction {
    background-image: url('../images/main-banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
}

h1 {
    font-size: 7rem;
    font-weight: 700;
    padding-top: 10px;
}

.intro_text {
    color: white;
}

.intro_button {
    background-color: #c78c06;
    color: black;
    font-size: 2rem;
    padding: 25px;
}

.container {
    background: rgba(0, 0, 0, 0.7);
    padding-top: 60px;
    padding-bottom: 15px;
    margin: auto;
    width: 100%;
}

.all_img {
    width: 100%;
    height: auto;
}

.about_container {
    width: 100%;
    background-color: #ffe6ac;
    padding: 10px;
}

h2 {
    font-size: 4rem;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
}

.services_container {
    width: 100%;
    background-color: #ffe6ac;
    margin: 10px;
}

.services_padding {
    padding: 10px;
}

h3 {
    font-size: 3rem;
    font-weight: 700;
}


.all_buttons {
    background-color: #222;
    color: white;
    font-size: 2rem;
    padding: 25px;
}
@media screen and (max-width: 760px) {
    .nav {
        display:inline-block;
        text-align: center;
        justify-content: center;
        width: 100%;
    }

}